//-----чем мы занимаемся-----//

.activities__section {
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.activities__title {
  @include fontz(36px, 1.17, 700);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  color: $primary-title-color;
}

.activities__list {
  display: flex;
  position: relative;
}

.activities__item {
  width: 370px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.activities__text {
  font-family: Roboto;
  font-style: normal;
  @include fontz(14px, 1.14, 700);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $second-title-color;
  background: rgba(47, 48, 58, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 370px;
  height: 70px;
  margin: 0px;
  bottom: 0px;
}
