//-----наши клиенты-----//
.clients__title {
  font-family: inherit;
  font-style: normal;
  @include fontz(28px, 1.18, 700);
  letter-spacing: 0.03em;

  margin-bottom: 30px;
  text-align: center;

  color: $primary-title-color;

  @media screen and (min-width: 1200px) {
    @include fontz(36px, 1.17, 700);
    margin-bottom: 50px;
  }
}

.clients__list {
  @media screen and (min-width: 480px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
  }

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  width: 210px;

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }

  border: 1px solid currentColor;
  border-radius: 4px;

  color: #afb1b8;

  @include border;

  &:hover,
  &:focus,
  &.current {
    border-color: $accent-color;
  }

  &:hover .clients__icon,
  &:focus .clients__icon {
    fill: $accent-color;
  }
}

.clients__icon {
  fill: currentColor;
  border-radius: 4px;
  justify-content: center;
  align-items: center;

  @include fill;
}
