//-----наши клиенты-----//

.clients__title {
  font-family: inherit;
  font-style: normal;
  @include fontz(36px, 1.17, 700);
  letter-spacing: 0.03em;

  margin-bottom: 50px;
  text-align: center;

  color: $primary-title-color;
}

.clients__list {
  display: flex;
  box-sizing: border-box;
}

.clients__item {
  justify-content: center;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid currentColor;
  border-radius: 4px;

  color: #afb1b8;

  @include border;

  &:hover,
  &:focus,
  &.current {
    border-color: $accent-color;
  }

  &:hover .clients__icon,
  &:focus .clients__icon {
    fill: $accent-color;
  }
}

.clients__icon {
  fill: currentColor;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  
  @include fill;
}
