//-----особенности-----//

.features__list {
  display: flex;
  justify-content: center;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__title {
  visibility: hidden;
  display: none;
}

.features__name {
  text-transform: uppercase;
  margin-bottom: 10px;
  @include fontz(14px, 1.14, 700);
  letter-spacing: 0.03em;
  width: 270px;
  height: 16px;

  color: $primary-title-color;
}

.features__icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  border-radius: 4px;

  background: $background-color;
}

.features__text {
  @include fontz(14px, 1.71, 400);
  letter-spacing: 0.03em;
  width: 270px;
  height: 75px;

  color: $primary-text-color;
}
