.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-color);
  display: flex;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-left {
  width: 231px;
  margin-right: 70px;
  display: block;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  display: flex;
  margin-bottom: 20px;
  color: var(--accent-color);
}

.studio-light {
  color: var(--second-title-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
}

.adress {
  font-style: normal;
  display: block;
}

.adress-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.contacts-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:focus,
.contacts-link:hover {
  color: var(--accent-color);
}

.social {
  width: 206px;
  margin-right: 93px;
}

.footer-social {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  display: block;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-list .social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  fill: currentColor;
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--second-title-color);
}

.footer-sub {
  display: flex;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--second-title-color);
}

.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.button-subscribe {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 28px 10px 29px;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--second-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}

.subscribe-text {
  margin-right: 10px;
}

.sub-icon {
  width: 24px;
  height: 24px;
  fill: var(--second-title-color);
}
