.header {
  display: flex;
  align-items: center;
  border: 1px solid var(--line-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.header-logo.link {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  width: 145px;
}

.studio-dark {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
}
