//-----эффективные решения для вашего бизнеса-----//

.order__container {
  display: block;
  flex-wrap: wrap;
  padding-top: 200px;
  padding-bottom: 200px; 

  background-color: $order-color;
}

.order__overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../img/designers.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.order__title {
  text-transform: uppercase;
  @include fontz(44px, 1.36, 700);
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;

  color: $second-title-color;
}

.order__button {
  display: block;
  font-family: Roboto;
  font-style: normal;
  @include fontz(16px, 1.88, 700);
  letter-spacing: 0.06em;
  justify-content: center;
  height: 50px;
  cursor: pointer;
  margin: 0 auto;

  color: $second-title-color;
  background-color: $accent-color;

  border-radius: 4px;
  border: 0;

  @include background;

  &:focus,
  &:hover {
    cursor: pointer;

    background-color: $second-accent-color;
  }
}

.order__text {
  padding: 10px 32px;
}
